@import url("https://fonts.googleapis.com/css2?family=Poppins%3Aital%2Cwght%400%2C300%3B0%2C400%3B0%2C500%3B0%2C600%3B0%2C700&family=Montserrat%3Aital%2Cwght%400%2C300%3B0%2C400%3B0%2C500%3B0%2C600%3B0%2C700&family=Inter%3Aital%2Cwght%400%2C300%3B0%2C400%3B0%2C500%3B0%2C600%3B0%2C700&family=Inconsolata%3Aital%2Cwght%400%2C300%3B0%2C400%3B0%2C500%3B0%2C600%3B0%2C700&display=swap");

.plasmic_tokens {
  --token-mUgmTKNGyVi7: #ffffff;
  --plasmic-token-white: var(--token-mUgmTKNGyVi7);
  --token-IqR2GmQrhdEh: #7276edeb;
  --plasmic-token-sky-blue: var(--token-IqR2GmQrhdEh);
}

.plasmic_tokens {
  --plsmc-standard-width: 800px;
  --plsmc-wide-width: 1280px;
  --plsmc-viewport-gap: 16px;
  --plsmc-wide-chunk: calc(
    ((var(--plsmc-wide-width) - var(--plsmc-standard-width)) / 2) -
      var(--plsmc-viewport-gap)
  );
}

.plasmic_default_styles {
  --mixin-ejriVBCkYOic_font-family: "Poppins", sans-serif;
  --mixin-ejriVBCkYOic_font-size: 16px;
  --mixin-ejriVBCkYOic_font-weight: 400;
  --mixin-ejriVBCkYOic_font-style: normal;
  --mixin-ejriVBCkYOic_color: #535353;
  --mixin-ejriVBCkYOic_text-align: left;
  --mixin-ejriVBCkYOic_text-transform: none;
  --mixin-ejriVBCkYOic_line-height: 1.6;
  --mixin-ejriVBCkYOic_letter-spacing: normal;
  --mixin-ejriVBCkYOic_white-space: pre-wrap;
  --mixin-ejriVBCkYOic_user-select: text;
  --mixin-ejriVBCkYOic_text-decoration-line: none;
  --mixin-ejriVBCkYOic_text-overflow: clip;
  --mixin-MgfrlYNVmiev_color: var(--token-mUgmTKNGyVi7);
  --mixin-MgfrlYNVmiev_font-weight: 500;
  --mixin-MgfrlYNVmiev_font-size: 45px;
  --mixin-MgfrlYNVmiev_line-height: 1;
  --mixin-MgfrlYNVmiev_letter-spacing: normal;
  --mixin-MgfrlYNVmiev_font-family: "Montserrat", sans-serif;
  --mixin-MgfrlYNVmiev_text-align: center;
  --mixin-MgfrlYNVmiev_white-space: pre-wrap;
  --mixin-OM2KbEkZB9j4_color: var(--token-IqR2GmQrhdEh);
  --mixin-OM2KbEkZB9j4_font-weight: 700;
  --mixin-OM2KbEkZB9j4_font-size: 30px;
  --mixin-OM2KbEkZB9j4_line-height: 1.1;
  --mixin-OM2KbEkZB9j4_letter-spacing: 0px;
  --mixin-OM2KbEkZB9j4_font-family: "Montserrat", sans-serif;
  --mixin-OM2KbEkZB9j4_white-space: pre-wrap;
  --mixin-XtJlyOl05-Hq_color: #3291ff;
  --mixin-XtJlyOl05-Hq_white-space: pre-wrap;
  --mixin-WtjdQpEhyN84_color: #000000;
  --mixin-WtjdQpEhyN84_font-weight: 600;
  --mixin-WtjdQpEhyN84_font-size: 28px;
  --mixin-WtjdQpEhyN84_line-height: 1.2;
  --mixin-WtjdQpEhyN84_letter-spacing: 0px;
  --mixin-WtjdQpEhyN84_font-family: "Montserrat", sans-serif;
  --mixin-WtjdQpEhyN84_white-space: pre-wrap;
  --mixin-Vw5hR_0r5K_W_font-family: "Inter", sans-serif;
  --mixin-Vw5hR_0r5K_W_color: #000000;
  --mixin-Vw5hR_0r5K_W_font-size: 24px;
  --mixin-Vw5hR_0r5K_W_font-weight: 600;
  --mixin-Vw5hR_0r5K_W_letter-spacing: -0.5px;
  --mixin-Vw5hR_0r5K_W_line-height: 1.3;
  --mixin-Vw5hR_0r5K_W_white-space: pre-wrap;
  --mixin-4Ib-xSMn1P1O_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-4Ib-xSMn1P1O_border-bottom-color: #dddddd;
  --mixin-4Ib-xSMn1P1O_border-bottom-style: solid;
  --mixin-4Ib-xSMn1P1O_border-bottom-width: 1px;
  --mixin-4Ib-xSMn1P1O_border-left-color: #dddddd;
  --mixin-4Ib-xSMn1P1O_border-left-style: solid;
  --mixin-4Ib-xSMn1P1O_border-left-width: 1px;
  --mixin-4Ib-xSMn1P1O_border-right-color: #dddddd;
  --mixin-4Ib-xSMn1P1O_border-right-style: solid;
  --mixin-4Ib-xSMn1P1O_border-right-width: 1px;
  --mixin-4Ib-xSMn1P1O_border-top-color: #dddddd;
  --mixin-4Ib-xSMn1P1O_border-top-style: solid;
  --mixin-4Ib-xSMn1P1O_border-top-width: 1px;
  --mixin-4Ib-xSMn1P1O_border-bottom-left-radius: 3px;
  --mixin-4Ib-xSMn1P1O_border-bottom-right-radius: 3px;
  --mixin-4Ib-xSMn1P1O_border-top-left-radius: 3px;
  --mixin-4Ib-xSMn1P1O_border-top-right-radius: 3px;
  --mixin-4Ib-xSMn1P1O_font-family: "Inconsolata";
  --mixin-4Ib-xSMn1P1O_padding-bottom: 1px;
  --mixin-4Ib-xSMn1P1O_padding-left: 4px;
  --mixin-4Ib-xSMn1P1O_padding-right: 4px;
  --mixin-4Ib-xSMn1P1O_padding-top: 1px;
  --mixin-4Ib-xSMn1P1O_white-space: pre-wrap;
  --mixin-TLiUShavM1Kq_border-left-color: #dddddd;
  --mixin-TLiUShavM1Kq_border-left-style: solid;
  --mixin-TLiUShavM1Kq_border-left-width: 3px;
  --mixin-TLiUShavM1Kq_color: #888888;
  --mixin-TLiUShavM1Kq_padding-left: 10px;
  --mixin-TLiUShavM1Kq_white-space: pre-wrap;
  --mixin-E6VuifuhWFJQ_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-E6VuifuhWFJQ_border-bottom-color: #dddddd;
  --mixin-E6VuifuhWFJQ_border-bottom-style: solid;
  --mixin-E6VuifuhWFJQ_border-bottom-width: 1px;
  --mixin-E6VuifuhWFJQ_border-left-color: #dddddd;
  --mixin-E6VuifuhWFJQ_border-left-style: solid;
  --mixin-E6VuifuhWFJQ_border-left-width: 1px;
  --mixin-E6VuifuhWFJQ_border-right-color: #dddddd;
  --mixin-E6VuifuhWFJQ_border-right-style: solid;
  --mixin-E6VuifuhWFJQ_border-right-width: 1px;
  --mixin-E6VuifuhWFJQ_border-top-color: #dddddd;
  --mixin-E6VuifuhWFJQ_border-top-style: solid;
  --mixin-E6VuifuhWFJQ_border-top-width: 1px;
  --mixin-E6VuifuhWFJQ_border-bottom-left-radius: 3px;
  --mixin-E6VuifuhWFJQ_border-bottom-right-radius: 3px;
  --mixin-E6VuifuhWFJQ_border-top-left-radius: 3px;
  --mixin-E6VuifuhWFJQ_border-top-right-radius: 3px;
  --mixin-E6VuifuhWFJQ_font-family: "Inconsolata";
  --mixin-E6VuifuhWFJQ_padding-bottom: 3px;
  --mixin-E6VuifuhWFJQ_padding-left: 6px;
  --mixin-E6VuifuhWFJQ_padding-right: 6px;
  --mixin-E6VuifuhWFJQ_padding-top: 3px;
  --mixin-E6VuifuhWFJQ_white-space: pre-wrap;
  --mixin--IxY9Z91CT89_font-family: "Inter", sans-serif;
  --mixin--IxY9Z91CT89_color: #000000;
  --mixin--IxY9Z91CT89_font-size: 20px;
  --mixin--IxY9Z91CT89_font-weight: 600;
  --mixin--IxY9Z91CT89_letter-spacing: -0.3px;
  --mixin--IxY9Z91CT89_line-height: 1.5;
  --mixin--IxY9Z91CT89_white-space: pre-wrap;
  --mixin-vi2r0ITmliJP_font-family: "Inter", sans-serif;
  --mixin-vi2r0ITmliJP_color: #000000;
  --mixin-vi2r0ITmliJP_font-size: 16px;
  --mixin-vi2r0ITmliJP_font-weight: 600;
  --mixin-vi2r0ITmliJP_line-height: 1.5;
  --mixin-vi2r0ITmliJP_white-space: pre-wrap;
  --mixin-b9rrGh02alE0_display: flex;
  --mixin-b9rrGh02alE0_flex-direction: column;
  --mixin-b9rrGh02alE0_align-items: stretch;
  --mixin-b9rrGh02alE0_justify-content: flex-start;
  --mixin-b9rrGh02alE0_list-style-position: outside;
  --mixin-b9rrGh02alE0_padding-left: 40px;
  --mixin-b9rrGh02alE0_position: relative;
  --mixin-b9rrGh02alE0_list-style-type: decimal;
  --mixin-b9rrGh02alE0_white-space: pre-wrap;
  --mixin-o7fhRd-FpX6l_display: flex;
  --mixin-o7fhRd-FpX6l_flex-direction: column;
  --mixin-o7fhRd-FpX6l_align-items: stretch;
  --mixin-o7fhRd-FpX6l_justify-content: flex-start;
  --mixin-o7fhRd-FpX6l_list-style-position: outside;
  --mixin-o7fhRd-FpX6l_padding-left: 40px;
  --mixin-o7fhRd-FpX6l_position: relative;
  --mixin-o7fhRd-FpX6l_list-style-type: disc;
  --mixin-o7fhRd-FpX6l_white-space: pre-wrap;
}

:where(.all) {
  display: block;
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  position: relative;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}
:where(.__wab_expr_html_text *) {
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}

:where(.img) {
  display: inline-block;
}
:where(.__wab_expr_html_text img) {
  white-space: inherit;
}

:where(.li) {
  display: list-item;
}
:where(.__wab_expr_html_text li) {
  white-space: inherit;
}

:where(.span) {
  display: inline;
  position: static;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text span) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.input) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text input) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.textarea) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text textarea) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.button) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text button) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}

:where(.code) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text code) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.pre) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text pre) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.p) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text p) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.h1) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h1) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h2) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h2) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h3) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h3) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h4) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h4) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h5) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h5) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h6) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h6) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.address) {
  font-style: inherit;
}
:where(.__wab_expr_html_text address) {
  white-space: inherit;
  font-style: inherit;
}

:where(.a) {
  color: inherit;
}
:where(.__wab_expr_html_text a) {
  white-space: inherit;
  color: inherit;
}

:where(.ol) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ol) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.ul) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ul) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.select) {
  padding: 2px 6px;
}
:where(.__wab_expr_html_text select) {
  white-space: inherit;
  padding: 2px 6px;
}

.plasmic_default__component_wrapper {
  display: grid;
}
.plasmic_default__inline {
  display: inline;
}
.plasmic_page_wrapper {
  display: flex;
  width: 100%;
  min-height: 100vh;
  align-items: stretch;
  align-self: start;
}
.plasmic_page_wrapper > * {
  height: auto !important;
}
.__wab_expr_html_text {
  white-space: normal;
}
:where(.root_reset) {
  font-family: var(--mixin-ejriVBCkYOic_font-family);
  font-size: var(--mixin-ejriVBCkYOic_font-size);
  font-weight: var(--mixin-ejriVBCkYOic_font-weight);
  font-style: var(--mixin-ejriVBCkYOic_font-style);
  color: var(--mixin-ejriVBCkYOic_color);
  text-align: var(--mixin-ejriVBCkYOic_text-align);
  text-transform: var(--mixin-ejriVBCkYOic_text-transform);
  line-height: var(--mixin-ejriVBCkYOic_line-height);
  letter-spacing: var(--mixin-ejriVBCkYOic_letter-spacing);
  white-space: var(--mixin-ejriVBCkYOic_white-space);
}

:where(.root_reset) h1:where(.h1),
h1:where(.root_reset.h1),
:where(.root_reset .__wab_expr_html_text) h1,
:where(.root_reset_tags) h1,
h1:where(.root_reset_tags) {
  color: var(--mixin-MgfrlYNVmiev_color);
  font-weight: var(--mixin-MgfrlYNVmiev_font-weight);
  font-size: var(--mixin-MgfrlYNVmiev_font-size);
  line-height: var(--mixin-MgfrlYNVmiev_line-height);
  letter-spacing: var(--mixin-MgfrlYNVmiev_letter-spacing);
  font-family: var(--mixin-MgfrlYNVmiev_font-family);
  text-align: var(--mixin-MgfrlYNVmiev_text-align);
}

:where(.root_reset) h2:where(.h2),
h2:where(.root_reset.h2),
:where(.root_reset .__wab_expr_html_text) h2,
:where(.root_reset_tags) h2,
h2:where(.root_reset_tags) {
  color: var(--mixin-OM2KbEkZB9j4_color);
  font-weight: var(--mixin-OM2KbEkZB9j4_font-weight);
  font-size: var(--mixin-OM2KbEkZB9j4_font-size);
  line-height: var(--mixin-OM2KbEkZB9j4_line-height);
  letter-spacing: var(--mixin-OM2KbEkZB9j4_letter-spacing);
  font-family: var(--mixin-OM2KbEkZB9j4_font-family);
}

:where(.root_reset) a:where(.a),
a:where(.root_reset.a),
:where(.root_reset .__wab_expr_html_text) a,
:where(.root_reset_tags) a,
a:where(.root_reset_tags) {
  color: var(--mixin-XtJlyOl05-Hq_color);
}

:where(.root_reset) h3:where(.h3),
h3:where(.root_reset.h3),
:where(.root_reset .__wab_expr_html_text) h3,
:where(.root_reset_tags) h3,
h3:where(.root_reset_tags) {
  color: var(--mixin-WtjdQpEhyN84_color);
  font-weight: var(--mixin-WtjdQpEhyN84_font-weight);
  font-size: var(--mixin-WtjdQpEhyN84_font-size);
  line-height: var(--mixin-WtjdQpEhyN84_line-height);
  letter-spacing: var(--mixin-WtjdQpEhyN84_letter-spacing);
  font-family: var(--mixin-WtjdQpEhyN84_font-family);
}

:where(.root_reset) h4:where(.h4),
h4:where(.root_reset.h4),
:where(.root_reset .__wab_expr_html_text) h4,
:where(.root_reset_tags) h4,
h4:where(.root_reset_tags) {
  font-family: var(--mixin-Vw5hR_0r5K_W_font-family);
  color: var(--mixin-Vw5hR_0r5K_W_color);
  font-size: var(--mixin-Vw5hR_0r5K_W_font-size);
  font-weight: var(--mixin-Vw5hR_0r5K_W_font-weight);
  letter-spacing: var(--mixin-Vw5hR_0r5K_W_letter-spacing);
  line-height: var(--mixin-Vw5hR_0r5K_W_line-height);
}

:where(.root_reset) code:where(.code),
code:where(.root_reset.code),
:where(.root_reset .__wab_expr_html_text) code,
:where(.root_reset_tags) code,
code:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-4Ib-xSMn1P1O_font-family);
  border-radius: var(--mixin-4Ib-xSMn1P1O_border-top-left-radius)
    var(--mixin-4Ib-xSMn1P1O_border-top-right-radius)
    var(--mixin-4Ib-xSMn1P1O_border-bottom-right-radius)
    var(--mixin-4Ib-xSMn1P1O_border-bottom-left-radius);
  padding: var(--mixin-4Ib-xSMn1P1O_padding-top)
    var(--mixin-4Ib-xSMn1P1O_padding-right)
    var(--mixin-4Ib-xSMn1P1O_padding-bottom)
    var(--mixin-4Ib-xSMn1P1O_padding-left);
  border-top: var(--mixin-4Ib-xSMn1P1O_border-top-width)
    var(--mixin-4Ib-xSMn1P1O_border-top-style)
    var(--mixin-4Ib-xSMn1P1O_border-top-color);
  border-right: var(--mixin-4Ib-xSMn1P1O_border-right-width)
    var(--mixin-4Ib-xSMn1P1O_border-right-style)
    var(--mixin-4Ib-xSMn1P1O_border-right-color);
  border-bottom: var(--mixin-4Ib-xSMn1P1O_border-bottom-width)
    var(--mixin-4Ib-xSMn1P1O_border-bottom-style)
    var(--mixin-4Ib-xSMn1P1O_border-bottom-color);
  border-left: var(--mixin-4Ib-xSMn1P1O_border-left-width)
    var(--mixin-4Ib-xSMn1P1O_border-left-style)
    var(--mixin-4Ib-xSMn1P1O_border-left-color);
}

:where(.root_reset) blockquote:where(.blockquote),
blockquote:where(.root_reset.blockquote),
:where(.root_reset .__wab_expr_html_text) blockquote,
:where(.root_reset_tags) blockquote,
blockquote:where(.root_reset_tags) {
  color: var(--mixin-TLiUShavM1Kq_color);
  padding-left: var(--mixin-TLiUShavM1Kq_padding-left);
  border-left: var(--mixin-TLiUShavM1Kq_border-left-width)
    var(--mixin-TLiUShavM1Kq_border-left-style)
    var(--mixin-TLiUShavM1Kq_border-left-color);
}

:where(.root_reset) pre:where(.pre),
pre:where(.root_reset.pre),
:where(.root_reset .__wab_expr_html_text) pre,
:where(.root_reset_tags) pre,
pre:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-E6VuifuhWFJQ_font-family);
  border-radius: var(--mixin-E6VuifuhWFJQ_border-top-left-radius)
    var(--mixin-E6VuifuhWFJQ_border-top-right-radius)
    var(--mixin-E6VuifuhWFJQ_border-bottom-right-radius)
    var(--mixin-E6VuifuhWFJQ_border-bottom-left-radius);
  padding: var(--mixin-E6VuifuhWFJQ_padding-top)
    var(--mixin-E6VuifuhWFJQ_padding-right)
    var(--mixin-E6VuifuhWFJQ_padding-bottom)
    var(--mixin-E6VuifuhWFJQ_padding-left);
  border-top: var(--mixin-E6VuifuhWFJQ_border-top-width)
    var(--mixin-E6VuifuhWFJQ_border-top-style)
    var(--mixin-E6VuifuhWFJQ_border-top-color);
  border-right: var(--mixin-E6VuifuhWFJQ_border-right-width)
    var(--mixin-E6VuifuhWFJQ_border-right-style)
    var(--mixin-E6VuifuhWFJQ_border-right-color);
  border-bottom: var(--mixin-E6VuifuhWFJQ_border-bottom-width)
    var(--mixin-E6VuifuhWFJQ_border-bottom-style)
    var(--mixin-E6VuifuhWFJQ_border-bottom-color);
  border-left: var(--mixin-E6VuifuhWFJQ_border-left-width)
    var(--mixin-E6VuifuhWFJQ_border-left-style)
    var(--mixin-E6VuifuhWFJQ_border-left-color);
}

:where(.root_reset) h5:where(.h5),
h5:where(.root_reset.h5),
:where(.root_reset .__wab_expr_html_text) h5,
:where(.root_reset_tags) h5,
h5:where(.root_reset_tags) {
  font-family: var(--mixin--IxY9Z91CT89_font-family);
  color: var(--mixin--IxY9Z91CT89_color);
  font-size: var(--mixin--IxY9Z91CT89_font-size);
  font-weight: var(--mixin--IxY9Z91CT89_font-weight);
  letter-spacing: var(--mixin--IxY9Z91CT89_letter-spacing);
  line-height: var(--mixin--IxY9Z91CT89_line-height);
}

:where(.root_reset) h6:where(.h6),
h6:where(.root_reset.h6),
:where(.root_reset .__wab_expr_html_text) h6,
:where(.root_reset_tags) h6,
h6:where(.root_reset_tags) {
  font-family: var(--mixin-vi2r0ITmliJP_font-family);
  color: var(--mixin-vi2r0ITmliJP_color);
  font-size: var(--mixin-vi2r0ITmliJP_font-size);
  font-weight: var(--mixin-vi2r0ITmliJP_font-weight);
  line-height: var(--mixin-vi2r0ITmliJP_line-height);
}

:where(.root_reset) ol:where(.ol),
ol:where(.root_reset.ol),
:where(.root_reset .__wab_expr_html_text) ol,
:where(.root_reset_tags) ol,
ol:where(.root_reset_tags) {
  display: var(--mixin-b9rrGh02alE0_display);
  flex-direction: var(--mixin-b9rrGh02alE0_flex-direction);
  align-items: var(--mixin-b9rrGh02alE0_align-items);
  justify-content: var(--mixin-b9rrGh02alE0_justify-content);
  list-style-position: var(--mixin-b9rrGh02alE0_list-style-position);
  padding-left: var(--mixin-b9rrGh02alE0_padding-left);
  position: var(--mixin-b9rrGh02alE0_position);
  list-style-type: var(--mixin-b9rrGh02alE0_list-style-type);
  flex-column-gap: var(--mixin-b9rrGh02alE0_flex-column-gap);
}

:where(.root_reset) ul:where(.ul),
ul:where(.root_reset.ul),
:where(.root_reset .__wab_expr_html_text) ul,
:where(.root_reset_tags) ul,
ul:where(.root_reset_tags) {
  display: var(--mixin-o7fhRd-FpX6l_display);
  flex-direction: var(--mixin-o7fhRd-FpX6l_flex-direction);
  align-items: var(--mixin-o7fhRd-FpX6l_align-items);
  justify-content: var(--mixin-o7fhRd-FpX6l_justify-content);
  list-style-position: var(--mixin-o7fhRd-FpX6l_list-style-position);
  padding-left: var(--mixin-o7fhRd-FpX6l_padding-left);
  position: var(--mixin-o7fhRd-FpX6l_position);
  list-style-type: var(--mixin-o7fhRd-FpX6l_list-style-type);
  flex-column-gap: var(--mixin-o7fhRd-FpX6l_flex-column-gap);
}
